#SPY{
    color: rgb(14, 156, 111);
    text-align:left;
    
}
.Hey{
    border: 2px solid rgb(61, 10, 10);
    padding-left:3px;
    padding-top: 5px;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 65%;
    background-color:rgb(235, 198, 149) ;
}